@import (reference) "../variables";
@import (reference) "../mixins";

.hero {
	height: 100vh;
	position: relative;
	background: @hero-background;
	overflow: hidden;

	@media screen and (max-width: 992px) {
		height: 80vw;
	}

	@media screen and (orientation: landscape) {
		height: 100vh;
	}

	.hero-container {
		display: table;

		&, & .hero-banner {
			height: 100%;
			width: 100%;
		}

		.hero-banner {
			color: #fff;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			background: transparent url(@hero-background-url) no-repeat center;
			background-size: cover;

			& > .hero-float:extend(.cover-box) {

				position: relative;
				top: 60%;

				.wedding-title {
					padding-bottom: 20px;
					font: 400 3.6em 'Pacifico', cursive;

					@media screen and (max-width: 992px) {
						font-size: 2.5em;
					}

					@media screen and (max-width: 640px) {
						font-size: 1.8em;
						padding-bottom: 12px;
					}
				}

				.couple-name:first-child::after {
					content: 'weds';
					display: inline-block;
					padding: 0.8em 1em 1em;
					position: relative;
					left: 0.25em;
					top: 0.5em;
					font-size: 0.4em;
					vertical-align: super;
					background: transparent url('https://s3.eu-west-2.amazonaws.com/fortunewedsblessing.com/images/static/heart_PNG680.png') no-repeat;
					background-size: 100%;
					background-origin: border-box;
				}

			}

			.hero-action-btn:extend(.base-button) {
			    padding: 15px 75px;
			    font: 500 160% 'Roboto', sans-serif;

				@media screen and (max-width: 992px) {
					font-size: 140%;
					padding: 10px 50px;
				}

				@media screen and (max-width: 640px) {
					font-size: 100%;
					padding: 10px 30px;
				}
			}
		}
	}
}
