@import (reference) "../variables";
@import (reference) "../mixins";

#app-modals-container:extend(.cover-box) {

    .row {
        .edge-row;
    }

    .modal {
        .base-modal;
    }

    #map-view-modal.modal {

        & > .modal-dialog.modal-cover {
            // right: 0;
            // width: 900px !important;
            // margin: auto !important;
        }

        .loading-spinner:extend(.cover-box) {
            display: table;

            .loading-spinner-container:extend(.cover-box) {
                display: table-cell;
                position: relative;
                vertical-align: middle;
                text-align: center;
                color: lighten(#000, 60%);
                font-size: 2.5em;

                .loading-text {
                    display: block;
                    text-align: center;

                    &::after {
                        content: attr(data-loading-text);
                        font: 400 1em 'Roboto', sans-serif;
                        position: relative;
                        bottom: 30px;
                    }
                }

                .fa.fa-3x {
                    font-size: 3em;
                }
            }
        }

    }

}

#photo-gallery-modal {
    .modal-body:extend(.cover-box) {}
}

#blueimp-photo-links {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20%;
    margin: auto;
    overflow: hidden;

    img {

        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-left: 7px;
        margin-bottom: 7px;

        @media screen and (min-width: 992px) {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            margin-left: 10px;
            margin-bottom: 10px;
        }

    }
}

#blueimp-gallery {

    &.blueimp-gallery {

        >.next, >.prev {
            font: 100 30px/40px 'Roboto', sans-serif;
        }

    }
}
