.cover-box {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.base-button {
    color: @button-text-color;
    background: @button-background;
    position: relative;
    border-radius: 5px;
    border: none;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

iframe {
    border: none;
}

.btn {

    &.active, &:active, &.active.focus, &.active:focus, &.focus, &:focus, &:active.focus, &:active:focus  {
        outline: none !important;
    }
}

.edge-row() {
    margin-left: 0;
    margin-right: 0;

    >* {
        padding-left: 0;
        padding-right: 0;
    }
}

.modal-backdrop.in {
    filter: alpha(opacity=90) !important;
    opacity: 0.9 !important;
}

.base-modal() {

    .modal-dialog.modal-cover {
        margin: 0;
        height: 100% !important;
        width: 100% !important;

        .modal-content:extend(.cover-box) {}
    }

    .modal-content {
        border: 0;
        border-radius: 0;

        >* {
            padding: 0;
        }
    }

    .modal-header, .modal-footer {
        border: none;
    }

    .modal-close-x.close:extend(.base-button) {
        display: inline-block;
        text-align: center;
        font: 100 3.6em/(@modal-x-button-size * 0.75) 'Open Sans', sans-serif;
        position: absolute;
        top: @modal-x-button-margin * 0.75;
        right: @modal-x-button-margin * 1.25 * 0.75;
        width: @modal-x-button-size * 0.75;
        height: @modal-x-button-size * 0.75;
        border-radius: 100%;
        filter: alpha(opacity=100);
        opacity: 1;
        z-index: 999999;
        vertical-align: middle;

        &::after {
            content: attr(title);
            text-transform: uppercase;
            font: 900 0.5em 'Roboto', sans-serif;
            display: block;
            position: absolute;
            color: darken(@button-background, 20%);
            text-align: center;
            margin-top: 24px;
            width: 100%;
            z-index: 999999;
        }

        @media screen and (min-width: 992px) {
            font: 100 3.6em/@modal-x-button-size 'Open Sans', sans-serif;
            top: @modal-x-button-margin;
            right: @modal-x-button-margin * 1.25;
            width: @modal-x-button-size;
            height: @modal-x-button-size;

            &::after {
                font-size: 0.2em;
                margin-top: 12px;
            }
        }
    }

}

.couple-box(@couple) {

    .couple-box-props() when (@couple = groom) {
        @couple-color: @groom-color;
    }

    .couple-box-props() when (@couple = bride) {
        @couple-color: @bride-color;
    }

    .couple-box-props();

    .couple-avatar {

        @avatar-offset-box-size: (@couple-avatar-size + 2 * @couple-avatar-offset);

        @media screen and (min-width: 992px) {

            position: absolute;
            left: -(@avatar-offset-box-size + 24);

            &::before, &::after {
                content: '';
                display: block;
                background: #fff;
                position: absolute;
                top: -@couple-avatar-offset;
                height: @avatar-offset-box-size;
            }

            &::before {
                width: @avatar-offset-box-size;
                border-radius: 100%;
                border: 1px solid @base-border-color;
            }

            &::after {
                left: @avatar-offset-box-size / 2;
                width: @avatar-offset-box-size / 2;
                z-index: 10;
            }

        }


        >img.img-avatar {

            width: @couple-avatar-size;
            height: @couple-avatar-size;
            border-radius: 100%;

            display: table;
            margin: 0 auto 10px;

            @media screen and (min-width: 992px) {
                position: absolute;
                left: @couple-avatar-offset;
                z-index: 100;
            }

        }
    }

    .couple-name {
        color: darken(@couple-color, 5%);
        text-align: center;
        font: 300 1.8em 'Roboto', sans-serif;
    }

    .couple-label {
        background: @couple-color;
        color: #fff;
        font: 900 0.875em 'Open Sans', sans-serif;
        display: table;
        margin: 5px auto;
        padding: 7px 10px;
    }

    p.about-couple {
        text-align: justify;
        text-align-last: left;
        margin-top: 30px;
        font: 400 90%/1.5em 'Open Sans', sans-serif;
        color: saturate(@event-dark-color, 10%);
    }

    .couple-connect {

        position: relative;
        text-align: center;

        @media screen and (min-width: 992px) {
            position: absolute;
            top: 10px;
            right: -10px;
        }

        .fa {
            color: lighten(@social-icons-disabled-color, 7.5%);
            padding: 0 2px;

            &:hover {

                &.fb-icon {
                    color: @social-icons-facebook-color;
                }

                &.tw-icon {
                    color: @social-icons-twitter-color;
                }

                &.ig-icon {
                    color: @social-icons-instagram-color;
                }

            }
        }
    }

    @media screen and (min-width: 992px) {

        .couple-name {
            text-align: left;
            font-size: 2em;
        }

        .couple-label {
            display: inline-block;
            padding: 7px 10px;
        }

        p.about-couple {
            font-size: 90%;
            line-height: 1.5em;
        }

    }

}

.event-color-mixin(@event-color) {

    .event-color-props() when (@event-color = wine) {
        @event-color: @wine-color;
    }

    .event-color-props() when (@event-color = cream) {
        @event-color: @cream-color;
    }

    .event-color-props() when (@event-color = teal) {
        @event-color: @teal-color;
    }

    .event-color-props() when (@event-color = peach) {
        @event-color: @peach-color;
    }

    .event-color-props();

    &.event-color {

        .color-outer {
            border: 1px solid @event-color-border;
            border-radius: 100%;
            width: @event-color-size;
            height: @event-color-size;
            margin: 20px auto;
            position: relative;
            top: 10px;
        }

        .color-inner:extend(.cover-box) {

            @dark-event-color: darken(@event-color, 25%);

            margin: @event-color-offset;
            right: 0;
            bottom: 0;
            width: auto;
            height: auto;
            background: @event-color;
            background: -moz-radial-gradient(circle at 2.5% 2.5%, @event-color, darken(@event-color, 5%), darken(@event-color, 15%));
            background: radial-gradient(circle at 2.5% 2.5%, @event-color, darken(@event-color, 5%), darken(@event-color, 15%));
            border-radius: 100%;
            -moz-box-shadow: inset 0 0 3px 1px rgba(red(@dark-event-color), green(@dark-event-color), blue(@dark-event-color), 0.25);
            -webkit-box-shadow: inset 0 0 3px 1px rgba(red(@dark-event-color), green(@dark-event-color), blue(@dark-event-color), 0.25);
            box-shadow: inset 0 0 3px 1px rgba(red(@dark-event-color), green(@dark-event-color), blue(@dark-event-color), 0.25);
        }
    }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-fade-out {
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
