@import (reference) "../variables";
@import (reference) "../mixins";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
}

#couple-section {

	padding: 0;
	position: relative;

	.row {
		.edge-row;
	}

	@media screen and (min-width: 992px) {

		>.row:extend(.cover-box) {
			height: 100vh;

			>* {
				position: relative;
				height: inherit;
			}
		}

	}

	@media screen and (min-width: 992px) and (min-height: 768px) {
		>.row:extend(.cover-box) {
			height: 768px !important;
		}
	}
}

#photos-section {

	background: lighten(@event-border-color, 27%);
	border-top: 1px solid @base-border-color;
	border-bottom: 1px solid @base-border-color;
	border-collapse: collapse;
	overflow: hidden;

	@media screen and (min-width: 992px) {
		border-right: 1px solid @base-border-color;
	}

	@media screen and (max-width: 992px) {
		height: 560px !important;
	}

	@media screen and (orientation: landscape) and (max-height: 560px) {
		height: 560px !important;
	}

	.row:extend(.cover-box) {
		background: transparent url("/assets/img/photo-section-transparent-bg.png") no-repeat center;
		background-size: cover;
	}

	.photo-icon {

		height: 50%;

		>img.img-responsive {
			top: 50%;
			position: relative;

			@media screen and (max-width: 992px) {
				top: 40%;
			}

			@media screen and (orientation: landscape) and (max-height: 560px) {
				top: 40%;
			}
		}
	}

	.photo-title {
		font: 700 2em sans-serif;
		color: @photo-title-color;

		@media screen and (min-width: 992px) {
			font-size: 3.2em;
		}
	}

	.photo-grid {
		position: relative;
		margin: 10px 10%;
		display: table;

		@media screen and (min-width: 484px) {
			margin: 10px 20%;
		}

		.photo-grid-img {
			position: relative;
			width: 100% / 7;
			display: table-cell;
			padding: 0.5%;
		}
	}

	.photo-gallery-btn:extend(.base-button) {
		margin: 30px auto;
		display: table;
		padding: 12px 60px;
		font: 600 100% sans-serif;
	}

}

#about-couple-section {

	background: #fff;

	@media screen and (min-width: 992px) {

		border-top: 1px solid @base-border-color;
		border-bottom: 1px solid @base-border-color;

		.couple-row:extend(.cover-box) {}

	}

	.couple-cell {

		padding: 50px 15% 65px;
		border-bottom: 1px solid @base-border-color;

		@media screen and (min-width: 640px) {
			padding-left: 22.5%;
			padding-right: 22.5%;
		}

		@media screen and (min-width: 992px) {
			padding: 50px 80px;
			height: 50%;
		}

		&:last-child {
			@media screen and (min-width: 992px) {
				border-bottom: none;
			}
		}

		&.groom-box {
			.couple-box(groom);
		}

		&.bride-box {
			.couple-box(bride);
		}
	}
}

#story-board {

	>.row {

		background: lighten(@hero-background, 5%);

		@media screen and (min-width: 992px) {
			background: @hero-background url("/assets/img/story-board-background.jpg") no-repeat left center;
			background-size: cover;
		}

		@media screen and (max-width: 992px) {
			.story-title-container {
				margin: 0;
				width: 100%;
				background: @hero-background url("/assets/img/story-board-background.jpg") no-repeat left center;
				background-size: cover;
			}
		}

		>* {
			display: table;
			position: relative;
			min-height: 180px;
			margin-bottom: 50px !important;

			@media screen and (min-width: 992px) {
				height: 560px;
				padding: 80px 0;
				margin-bottom: 0 !important;
			}
		}
	}

	.story-title, .story-container {
		display: table-cell;
		vertical-align: middle;
	}

	.story-title {
		color: @story-title-color;
		font: 100 3.2em sans-serif;
	}

	.story-pg {
        color: lighten(@event-dark-color, 20%);
		text-align-last: left;
		font: 300 80%/1.3em sans-serif;
		padding-top: 30px;

		&:last-of-type {
			padding-bottom: 30px;
		}
	}

	@media screen and (min-width: 992px) {

		.story-title {
			font-size: 4.5em;
		}

		.story-pg {
			font-size: 92.5%;
			line-height: 1.5em;
			color: darken(@story-text-color, 20%);
			padding-bottom: 0 !important;

			&:first-of-type {
				padding-top: 0;
			}
		}

	}
}
